.App {
    text-align: center;
  }
  body{
    font-family: 'Roboto','sans-serif';
  }
  .error{
    position: absolute;
    color: red;
    font-size: .6rem;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  table{
    border-collapse: collapse;
    width: 70%;
    border: 2px solid forestgreen;
    
  }
  .app-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  

 #board{
    background: white;
    width: 150vmin;
    height: 110vmin;
    border: 2px solid white;
    display: grid;
    padding-left: 50px;
    
}

#board2{
  background: solid white;
  width: 175vmin;
  height: 100vmin;
  border: 2px solid white;
  display: grid;
  padding-left: 50px;
  align-items: center;
  padding-top: 30px;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
}


#board3{
  background: solid white;
  width: 70vmin;
  height: 80min;
  border: 2px solid white;
  display: grid;
  padding-left: 50px;
  align-items: left;
}


#board4{
  background: solid white;
  width: 70vmin;
  height: 60vmin;
  border: 2px solid white;
  display: grid;
  padding-left: 50px;
  align-items:left;
}

